<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Custom Password Field</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl">

  <div style="margin:20px;">
    <h2>Custom Password Field (AngularJS)</h2>

    <!-- Normal text field, but will behave like password -->
    <input type="text"
           ng-model="maskedPassword"
           ng-change="onInputChange()" />

    <br><br>
    <button ng-click="showPassword()">Show Actual Password</button>

    <p><b>Stored Password:</b> {{ actualPassword }}</p>
  </div>

</body>
</html>
